nav{
  border: 2px solid green;
}

ul {
  display: flex;
  justify-content: space-between;
}

ul li{
  list-style: none;
  padding-top: 20px;
}

.btn-login{

}

.btn-signup{
  background-color: tomato;
  border: none;
  color: white;
}

.wrapper{
  border: 2px solid green;
  margin-top: 30px;
  display: flex;
  padding: 10px;
}

.container-left{
  border: 2px solid blue;
  margin-right: 10px;
  padding: 5px;
}

.container-right{
  position: relative;
  border: 2px solid purple;
}

.container-right img{
  padding-left: 50px;
  width: min-content;
}


.inner-left{
  border: 2px solid gold;
  margin-bottom: 10px;
  padding-right: 15px;
  display: flex;
}





.inner-left-two{
  border: 2px solid yellow;
  display: flex;
}

.inner-left-side{
  flex-direction: column;
  
}

.inner-left-side-two{
  flex-direction: column;
  
}


.inner-right{
  position: absolute;
  top: 150px;
}

.btn-submit{
  width: 90%;
  margin-left: 10px;
  color: white;
  background-color: tomato;
  border: none;
  padding: 7px;
}